<template>
    <main>
    
        <div class="container mt-5">
	    <div class="jumbotron">
	      <h1>Laravel Technical Test</h1>
	    </div> 
            <router-view></router-view>
        </div>
    </main>
</template>
 
<script>
    export default {}
</script>