<template>
    <div class="row">
        
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Hospital Users</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
					<th>Full Name</th>
					<th>Email</th>
					<th>Last Logged In</th>
					<th>Authorized</th>
					<th>User Type</th>
                                </tr>
                            </thead>
                            <tbody v-if="users.data">
                                <tr v-for="(user,key) in users.data">
					<td>{{ user.firstName }} {{ user.lastName }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.lastLoggedIn }}</td>
					<td>{{ user.authorized }}</td>
					<td><p style="cursor:pointer; background-color:#750046; color:#ffffff; padding:2px; width:85%; text-align:center" title="Edit" v-on:click="showModal('{{ user.id }}','{{ user.userType }}')">{{ user.doctorTypes }}</p></td>
				</tr>
				<tr>
					<td>
						<pagination :data="users" @pagination-change-page="getusers">
						<span slot="prev-nav">&lt; Previous</span>
						<span slot="next-nav">Next &gt;</span>
						</pagination>
					</td>
				</tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="4" align="center">No users Found.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"users",
    data(){
        return {
            users:[],
        }
    },    
    mounted(){
        this.getusers()
    },
    methods:{
        async getusers(page){
		if (typeof page === 'undefined') {
		    page = 1;
		}
		await this.axios.get('/api/category?page=' + page).then(response=>{
			this.users = response.data
		}).catch(error=>{
			console.log(error)
			this.users = []
		})
        },
	showModal() {
		$("#saveUsertypeID").val(usertypeID);
		$("#newUserType").val(usertypeID);	
		$("#userID").val(userId);
		$("#showModal").modal();
	},
    }
}
</script>